* {
  margin: 10;
  padding: 0;
  box-sizing: border-box;
}
html {
  background-color: #EE82EE;
}
header {
  position: relative;
  width: 80%;
  margin-left: 20%;
  background-color: lightblue;
  height: 60px;
  overflow: hidden;
}
#logga {
  width: 20%;
  height: 150px;
  margin-top: -70px;
  position: absolute;
}
#item {
  padding: 7px;
  width: 300px;
  height: 400px;
  background-color: grey;
}
#itemimg {
  width: 285px;
  height: 200px;
}
#wrapper {
  margin-left: 20%;
  margin-top: 5%;
  width: 225px;
}
#wrapper2 {
  position: absolute;
  left: 50%;
  top: 25%;
}
form {
  margin-left: 50%;
}
input {
  width: 200px;
}

button{
  padding: 5px;
  margin: 5px;
  cursor: pointer;
}

button:hover{
  background-color: lightcoral;
}

@media screen and (max-width: 700px) {
  header {
    max-width: 80%;
 }
 #logga {
   max-width: 20%;
   height: auto;
 }
 
}
